<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p class="footer-text text-uppercase">Lionel Kirrmann</p>
      </div>

      <div class="col-md-3">
        <p class="footer-text">mail@lionelkirrmann.com</p>
      </div>

      <div class="col-md-3">
        <p class="footer-text text-uppercase">brauerstrasse 44</p>
      </div>

      <div class="col-md-3">
        <p class="footer-text text-uppercase">ch-8004 Zürich</p>
      </div>
    </div>
  </div>
</footer>
