<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      Lionel Kirrmann
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive">
      &#9776;
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mx-auto text-center">
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#highlights">Architecture</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Computer Graphics</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#gallery">Laserscanning</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#school">Sketchbook</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#school">Clients</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
