// home page
.home-page {
  background: url($asset_url + "/img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 94.5vh;
}

// industrial animations page
.computer-graphics-page {
  padding: 6rem 0 9rem;

  .title {
    font-family: "TimesBold";
    font-size: 18px;
    margin-bottom: 5px;
    color: $color-secondary;
  }

  .content-wrapper {
    display: flex;
    width: 100%;
  }

  .industrial-animations {
    padding-bottom: 4rem;
  }
}

// lesar scanning page
.lesar-scanning-page {
  .header {
    text-align: center;
    border-bottom: 2px solid #aaa;
    padding-bottom: 1.5rem;

    .message {
      color: $color-secondary;
      padding: 3rem 0 10px 0;
      margin-bottom: 0;
      font-size: 15px;
    }
    .link-wrapper {
      a {
        color: #1e212b;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
  .img-wrapper {
    padding: 1rem 0 4rem 0;
    max-width: 900px;
    margin: auto;
  }
}

// clients page
.clients-page {
  padding: 5rem 0 4rem;

  .container {
    max-width: 1200px;
  }

  .client-list {
    list-style: none;
    padding: 0;

    .client-item {
      font-family: "TimesRegular";
      font-size: 15px;
      color: #999;
    }
  }
}

@media screen and (max-width: 520px) {
  .clients-page {
    padding: 2rem 0 11rem 0;

    .client-list {
      margin-top: 2rem;
    }
  }
}
