// home page
.home-page {
  background: url($asset_url + "/img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 94.5vh;
}

.architecture-page {
  padding: 5rem 0 12rem;

  .title {
    font-family: $font-primary;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
    color: $color-secondary;
  }

  hr {
    border: 1px solid #777;
    margin-top: 4rem;
    width: 99%;
    margin-left: 0.5%;
    margin-bottom: 7rem;
  }

  .breitestrasse-section {
    .container {
      .content-wrapper {
        display: flex;

        .left-content-wrapper {
          padding-right: 10px;
        }
        .right-content-wrapper {
          display: flex;
          flex-direction: column;
          gap: 1.3rem;
          justify-content: space-around;
        }
      }
      .box-wrapper {
        margin-top: 1.25em;
      }
    }
  }

  .energetic-section {
    .content-wrapper {
      margin-bottom: 1rem;
    }
  }

  .stadion-section {
    .second-row {
      margin-top: 2rem;
      margin-bottom: 5rem;
    }
    .third-row {
      display: flex;
      gap: 2.5rem;
    }
    .fourth-row {
      margin-top: 2.5rem;
      display: flex;
      gap: 2.5rem;
    }
  }

  .rooftop-section {
    .content-wrapper {
      display: flex;
      gap: 3rem;
    }
    .content-wrapper.first-row {
      margin-bottom: 2rem;
    }
  }

  .measurements-section {
    hr {
      margin-top: 2rem;
    }
  }

  .artisan-section {
    .content-wrapper {
      display: flex;
      gap: 1rem;
    }
  }

  .publications-section {
    .content-wrapper  {
      margin-top: 4rem 0;
    }
  }
}

// industrial animations page
.computer-graphics-page {
  padding: 5rem 0 9rem;

  .title {
    font-family: $font-primary;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 5px;
    color: $color-secondary;
  }

  .content-wrapper {
    display: flex;
    width: 100%;
  }

  .industrial-animations {
    padding-bottom: 4rem;
  }
}

// lesar scanning page
.lesar-scanning-page {
  padding: 5rem 0 5rem;

  .header {
    text-align: center;
    border-bottom: 2px solid #aaa;
    padding-bottom: 1.5rem;

    .message {
      color: $color-secondary;
      padding-bottom: 10px;
      margin-bottom: 0;
      font-size: 15px;
    }
    .link-wrapper {
      a {
        color: #1e212b;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
  .img-wrapper {
    padding: 1rem 0 3rem 0;
    max-width: 900px;
    margin: auto;
  }
}

// sketchbook page
.sketchbook-page {
  padding: 5rem 12rem;
}

// clients page
.clients-page {
  padding: 9rem 0 4rem;

  .container {
    max-width: 1200px;
  }

  .client-list {
    list-style: none;
    padding: 0;

    .client-item {
      font-family: $font-primary;
      color: $color-secondary;
    }
  }
}

// contact page
.contact-page {
  padding: 12rem 0 4rem 0;
  font-family: $font-primary;
  color: $color-secondary;
  font-size: 17px;

  a {
    text-decoration: none;
    color: inherit;
  }

  .text-content-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .middle-text {
      padding-top: 3rem;
    }
  }
}


@media screen and (max-width: 520px) {
  .architecture-page {
    padding: 5rem 0 12rem;

    .title {
      font-size: 14px;
    }

    hr {
      margin-top: 2.5rem;
      margin-bottom: 5rem;
    }

    .breitestrasse-section {
      .right-content-wrapper {
        margin-top: 1.5rem;
      }
      .container .box-wrapper {
        margin-top: 0;
      }
      .box-item {
        margin-top: 1.5rem;
      }
    }

    .energetic-section {
      .content-wrapper {
        margin-bottom: 0;
      }
      .col-md-4 {
        margin-top: 1.5rem;
      }
      .first-row .col-md-4:first-child {
        margin-top: 0;
      }
    }
  }
  .computer-graphics-page {
    .title {
      font-size: 15px;
    }
  }
  .sketchbook-page {
    padding: 4rem 1rem 11rem;
  }
  .clients-page {
    padding: 2rem 0 11rem 0;

    .client-list {
      margin-top: 2rem;
    }
  }
  .contact-page {
    padding-top: 4rem;
    padding-bottom: 14rem;

    .img-wrapper {
      margin-top: 2rem;
    }
  }
}
