/* Custom SCSS */
$color-primary: #333335;
$color-secondary: #838281;
$text-color: #d6d5d5;

// custom fonts
@font-face {
  font-family: "ArialRegular";
  src: url("/assets/fonts/arial-regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "ArialBold";
  src: url("/assets/fonts/arial-bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "TimesRegular";
  src: url("/assets/fonts/times-regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "TimesBold";
  src: url("/assets/fonts/times-bold.ttf");
  font-weight: bold;
}

body {
  font-family: "ArialBold";
}

.navbar {
  background-color: $color-primary;
  height: 100px;

  .container {
    height: 100%;
    align-items: flex-end;
  }
  .navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-family: "ArialBold";
    font-size: 28px;
    margin-bottom: -10px;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        padding-bottom: 0;
        color: #fff;
        text-transform: uppercase;
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 13px;
        font-weight: bold
      }
      .nav-link:last-child {
        padding-right: 0;
      }
    }
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $color-secondary;
  font-size: 16px;
  font-family: "ArialRegular";
  color: #fff;
  padding: 12px 0;

  .container {
    max-width: 1000px;
    align-items: center;

    .col-md-3 {
      padding: 0;
    }
    .footer-text {
      margin-bottom: 0;
      text-align: center;
      position: relative;

      a {
        text-decoration: none;
        color: #fff;
      }
    }
    .footer-text::after {
      content: "|";
      position: absolute;
      right: 0;
    }
    .col-md-3:last-child .footer-text::after {
      content: none;
    }
  }
}

@media only screen and (max-width: 512px) {
  .navbar {
    .navbar-brand {
      font-size: 22px;
      margin-bottom: -10px;
    }
    .navbar-toggler {
      color: #fff;
      font-size: 24px;
      padding: 6px 8px;
      border-color: #fff;
    }
  }
  .footer {
    .container {
      .footer-text::after {
        content: none;
      }
    }
  }
}

main {
  margin-top: 100px;
}

@import "home";
@import "responsive";
